.hs-generate-wrapper {
    margin: auto;
  
    @media (max-width: 720px) {
      max-width: 100%;
    }
  
    @media (max-width: 500px) {
      .hs-left-heading {
        font-size: 12px;
      }
      .hs-responsive-btn {
        justify-content: center; /* Center the appearing button */
      }
    }
  
    .hs-inner-wrapper {
      @media (max-width: 720px) {
        flex-direction: column;
        padding: 6vw;
      }
  
      max-width: var(--max-width);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 102px 0;
  
      .hs-left-box {
        @media (max-width: 720px) {
          width: 100%;
          text-align: center; /* Center text for smaller screens */
        }
  
        width: 548px;
        display: flex;
        flex-direction: column;
  
        .hs-left-heading {
          font-size: 48px;
          font-weight: 700;
          line-height: 60px;
  
          @media (max-width: 720px) {
            text-align: center; /* Center text for smaller screens */
          }
          @media (max-width: 400px) {
            font-size: 32px; /* Adjust font size for very small screens */
          }
        }
  
        .hs-left-text {
          font-size: 18px;
          margin-top: 20px;
          line-height: 30px;
  
          @media (max-width: 720px) {
            text-align: center; /* Center text for smaller screens */
          }
          @media (max-width: 400px) {
            font-size: 14px; /* Adjust font size for very small screens */
          }
        }
  
        .hs-ai-button {
          display: flex;
  
          @media (max-width: 720px) {
            display: none; /* Center the appearing button */
          }
        }
      }
  
      .hs-right-box {
       display: flex;
       justify-content: space-evenly;
  
        @media (max-width: 720px) {
          width: -webkit-fill-available;
          background-color: unset;
          height: auto;
        }
  
        
        .image {
            width: 464px;
            height: 358px;
        }
        
         
      }
    }
  }
  