.AiButtonWhite {
    width: auto;
    border:none;
    margin-right: 20px;
    color: rgb(23, 23, 23);
    margin: 20px auto auto 0px;
    display: flex;
    margin: auto;
    padding: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    background: white;
    cursor: pointer;
}