.wrapper-describe {
  background: rgb(255, 255, 255);

  .describe-innertab {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 102px 0px;

    .describe-left {
      width: 548px;
      display: flex;
      flex-direction: column;

      .button {
        width: auto;
        color: rgb(255, 255, 255);
        margin: auto auto auto 0px;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: linear-gradient(
          270deg,
          rgb(85, 72, 248) 0%,
          rgb(112, 103, 253) 100%
        );
        cursor: pointer;

        @media (max-width: 720px) {
          display: none;
          margin: auto;
          margin-bottom: 20px;
        }
      }
    }

    .describe-title {
      text-align: left;
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      color: rgb(0, 0, 0);

      @media (max-width: 720px) {
        text-align: center;
      }
    }

    .describe-content {
      margin-top: 20px;
      font-size: 18px;
      line-height: 30px;
      color: rgb(146, 146, 146);
      text-align: center;
    }

    .describe-right {
      @media (max-width: 720px) {
        margin: auto;
        width: 100%;
        height: 100%;
      }

      .describe-image {
        width: 400px;
        height: 400px;
        max-width: 100%;
        display: block;
        margin: auto;

        @media (max-width: 968px) {
          margin: auto;
          //   width: 100%;
          //   height: 100%;
        }
      }

      .button {
        width: auto;
        color: rgb(255, 255, 255);
        margin: auto auto auto 0px;
        display: none;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: linear-gradient(
          270deg,
          rgb(85, 72, 248) 0%,
          rgb(112, 103, 253) 100%
        );
        cursor: pointer;

        @media (max-width: 720px) {
          display: flex;
        }
      }
    }
  }
}
