.wrapper-process {
  background: rgb(243, 245, 255);

  @media (max-width: 720px) {
    padding: 13vw 6vw 6vw;
  }

  .process-content {
    margin: 0px auto;
    max-width: 1080px;

    @media (max-width: 720px) {
      max-width: 100%;
    }


    // Adjust max-width for smaller screens

    .process-heading {
      text-align: center;
      font-weight: 700;
      line-height: 60px;
      color: black;

      @media (max-width: 720px) {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
      }
    }

    .process-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 70px auto 50px;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      .process-container-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 720px) {
          flex-direction: row;
        }

        .process-item-text {
            display: "flex";
                flex-direction: "column";
                max-width: "290px";
        }
        .process-image {

            width: 290px;
            height: 290px;
            max-width: 100%;
            display: block;
   

          @media (max-width: 720px) {
            width: 80px;
            height: 80px;
            margin-right: 28px;
          }
        }
        .process-item-title {
          margin: 24px;
          color: rgb(47, 47, 47);
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          position: relative;
          z-index: 1;

          @media (max-width: 720px) {
            margin: 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }

          .process-item-description {

                  text-align: "center";
                  color: "rgb(47,47,47), opacity:0.7";

             @media (max-width: 720px) {
              font-size: small;
              line-height: 16px;
              letter-spacing: 0.1px;
              text-align: left;
            }
          }
          .process-ellipse {
            position: absolute;
            width: 32px;
            height: 32px;
            background: linear-gradient(
                138deg,
                rgb(255, 214, 248) 0%,
                rgb(198, 189, 255) 94.85%
              ),
              rgb(217, 217, 217);
            border-radius: 50%;
            left: -10px;
            z-index: -1;

            
          }
        }
      }

      .process-arrow {
        width: 77px;
        height: 55px;
        margin-top: -108px;

        @media (max-width:720px) {
            display:none;
        }
      }
    }

    .process-button {
      width: 278px;
      color: rgb(255, 255, 255);
      margin: auto;
      display: flex;
      padding: 20px 0px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: linear-gradient(
        270deg,
        rgb(85, 72, 248) 0%,
        rgb(112, 103, 253) 100%
      );
      cursor: pointer;
      @media (max-width: 720px) {
        display: none;
      }
    }
  }

  @media (max-width: 1080px) {
    // Adjust max-width for smaller screens
    .process-content {
      padding: 20px;
    }
  }
}
